{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ToDo App</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todolist/bs/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todolist/styles.css' %}"/>

	</head>
	<body>

    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">

                <div class="img-wrap mt-4 mb-3">
                    <img src="{% static 'todolist/ocean.jpg' %}" class="img-responsive rounded">
                    <h1 class="text-white ml-1">My day<br><span style="font-size: .83em">{{ today|date:"D j F" }}</span></h1>
                </div>

                <form action="{% url 'add' %}" method="POST" role="form">
                    {% csrf_token %}
                    <div class="form-group">

                        <div class="input-group mb-3">
                            {{ form.text }}
                            <div class="input-group-append">
                                <button class="btn btn-info" type="submit">ADD</button>
                            </div>
                        </div>

                    </div>
                </form>


                <div class="list-group mb-3">
                    {% for todo in todo_list %}
                        {% if todo.complete %}
                            <li class="list-group-item todo-completed list-group-item-success">{{ todo.text }}</li>
                        {% else %}
                            <a href="{% url 'complete' todo.id %}" class="list-group-item list-group-item-action">{{ todo.text }}</a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="btn-toolbar">
                    <a href="{% url 'delete_completed' %}"><button type="button" class="btn btn-info mr-2 mt-0">Clear completed</button></a>
                    <a href="{% url 'delete_all' %}"><button type="button" class="btn btn-info mt-0">Clear all</button></a>


                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-info mr-3" style="position: absolute; right: 0;">Log Out</button></a>

                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    {% else %}
        <div class="container-fluid">
        <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="jumbotron">
                <h1 class="display-4">Plan your day!</h1>
                <p class="lead">This is a simple daily scheduler to help you keep track of all tasks and get things done.</p>
                <hr class="my-4">
                <p>To get started please log in or sign up</p>
                <a class="btn btn-info btn-lg mr-2" href="{% url 'register' %}" role="button">Sign Up</a>
                <a class="btn btn-info btn-lg" href="{% url 'login' %}" role="button">Log In</a>
            </div>
        </div>
        <div class="col-3"></div>

    {% endif %}

    </body>
</html>