{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'todolist/bs/css/bootstrap.min.css' %}" />
</head>
<body>
<div class="container-fluid">
<div class="row mt-5">
<div class="col-3"></div>
<div class="col-5">
<form method="post" action="{% url 'register' %}">
    <h2>Please sign up</h2>
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">

        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}

      </div>
    {% endfor %}

    <button type="submit" class="btn btn-info">Submit</button>
</form>
</div>
<div class="col-4"></div>
</div>
</div> <!-- /container -->


</body>
</html>